<main>
    Lesson 3
    <div class="row gy-3">
        <div class="col-12">
            <div class="card">
                <img src="https://picsum.photos/400/200" alt="product photo" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Product #131332</h5>
                    <p class="">Usb hub</p>
                    <a class="" href="/summary">Open</a>
                </div>
            </div>
        </div>

        <div class="col-9">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#id</th>
                        <th>name</th>
                        <th>age</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>   
                        <th>1</th>
                        <td>John</td>
                        <td>35</td>
                    </tr>
                    <tr>   
                        <th>2</th>
                        <td>Mark</td>
                        <td>21</td>
                    </tr>
                    <tr>   
                        <th>2</th>
                        <td>Mark</td>
                        <td>21</td>
                    </tr>
                    <tr>   
                        <th>2</th>
                        <td>Mark</td>
                        <td>21</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-3">
            <div class="card-header">
                    <div class="display-6">Menu</div>
                </div>
                <ul class="list-group ">
                    <li class="list-group-item "><a href="#" type="button" class="button-link">Home page</a></li>
                    <li class="list-group-item "><a href="#" type="button" class="button-link">Summary page</a></li>
                    <li class="list-group-item "><a href="#" type="button" class="button-link">Skills page</a></li>
                </ul>

                <div class="card-footer">
                    <button class="btn btn-dark btn-sm">Update list</button>
                </div>
            </div>
        </div>

        <div class="row g-2 col-12">
            <div class="col-3">
                <div class="card text-bg-success">
                    <div class="card-header text-center">Header</div>

                    <div class="card-body text-center">
                        <h6 class="card-title">This is tile</h6>
                        <p>Text</p>
                        <button class="btn btn-light">Click!</button>
                    </div>

                    <div class="card-footer text-center">Footer</div>
                </div>
            </div>

            <div class="col-3">
                <div class="card text-bg-success">
                    <div class="card-header text-center">Header</div>

                    <div class="card-body text-center">
                        <h6 class="card-title">This is tile</h6>
                        <p>Text</p>
                        <button class="btn btn-light">Click!</button>
                    </div>

                    <div class="card-footer text-center">Footer</div>
                </div>
            </div>

            <div class="col-3">
                <div class="card text-bg-success">
                    <div class="card-header text-center">Header</div>

                    <div class="card-body text-center">
                        <h6 class="card-title">This is tile</h6>
                        <p>Text</p>
                        <button class="btn btn-light">Click!</button>
                    </div>

                    <div class="card-footer text-center">Footer</div>
                </div>
            </div>

            <div class="col-3">
                <div class="card text-bg-success">
                    <div class="card-header text-center">Header</div>

                    <div class="card-body text-center">
                        <h6 class="card-title">This is tile</h6>
                        <p>Text</p>
                        <button class="btn btn-light">Click!</button>
                    </div>

                    <div class="card-footer text-center">Footer</div>
                </div>
            </div>
        </div>
    </div>
    

        <br>
        <br>
        <br>
        <br>

       

        <br>
        <br>
        <br>

       
        
        <br>
        <br>
        <br>

        <br>
        <br>
        <br>

<section class="p-5">
    <div class="row">   
        <div class="col-12 mb-5">
                <div class="card">
                    <div class="card-body">
                        <div class="nav nav-tabs">
                            <div class="nav-item">
                                <a href="#" class="nav-link active">Main</a>
                            </div>
                            <div class="nav-item">
                                <a href="#" class="nav-link">Catalog</a>
                            </div>
                            <div class="nav-item">
                                <a href="#" class="nav-link">Shop list</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-5 pe-5">
            <div class="card">
                <div class="pt-4 pb-3 px-4">
                    <div class="nav flex-column">
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="#" class="nav-link active">Bootstrap</a>
                            </div>
                        </div>
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="#" class="nav-link disabled">Home page</a>
                            </div>
                        </div>
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="/summary" class="nav-link">FAQ page</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-7">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>

                        <li class="breadcrumb-item">
                            <a href="#">Macbook</a>
                        </li>

                        <li class="breadcrumb-item">
                            PC
                        </li>
                    </ol>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary rounded-pill mb-3">Test</button>
                    <div class="alert alert-dark">
                        <h6 class="mb-2">Hello World <span class="badge text-bg-warning rounded-pill text-uppercase">Top seller!</span></h6>

                        <p class="m-0">Hello</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <div class="row g-5">
        <div class="col-12">
            <label class="form-label">Email address</label>
            <input class="form-control">
            <div class="form-text text-danger">Error. Please enter correct email</div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-2 pt-1">
                    <label class="form-label">Email address</label>
                </div>
                <div class="col-6">
                    <input class="form-control form-control-sm">
                </div>
                <div class="col-4 ps-5 pt-1">
                    <div class="form-text text-danger">Error. Please enter correct email</div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <label class="form-label">Email address</label>
            <input class="form-control">
            <div class="form-text text-danger">Error. Please enter correct email</div>
        </div>
        <div>
            <hr>
        </div>
        <div class="col-12">
            <label class="form-label">Select role</label>
            <select class="form-select">
                <option selected>Open list</option>
                <option value="1">Admin</option>
                <option value="2">User</option>
            </select>
            <div class="form-text text-danger">Error. Please enter correct email</div>
        </div>

        <div>
            <hr>
        </div>

        <div class="col-12">
            <div class="form-label">Select food</div>
            <div class="form-check">
                <label class="form-check-label">Apple</label>
                <input name="food" type="checkbox" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">Orange</label>
                <input name="food" type="checkbox" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">Banana</label>
                <input name="food" type="checkbox" class="form-check-input">
            </div>
        </div>

        <div>
            <hr>
        </div>

        <div class="col-12">
            <div class="form-label">Select food</div>
            <div class="form-check">
                <label class="form-check-label">Apple</label>
                <input name="food" type="radio" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">Orange</label>
                <input name="food" type="radio" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">Banana</label>
                <input name="food" type="radio" class="form-check-input">
            </div>
            <div class="form-check form-switch">
                <label class="form-check-label">Banana</label>
                <input name="food" type="checkbox" class="form-check-input">
            </div>
        </div>
    </div>


</main>