{{#with main}}
<main>
    <div>
        {{> title big=true data="My educationss" }}
        <ul class="ps-5">
            {{#each educations}}
            <li>
                {{name}}
                {{#unless isEnd}}
                (ще в процесі!!)
                {{/unless}}
            </li>
            {{/each}}
        </ul>
    </div>
    <div>
        {{> title data="My certificates"}}
        <ul>
            {{#each certificates}}
            <li>
                {{name}} ({{id}})
            </li>
            {{/each}}
        </ul>
    </div>

</main>
{{/with}}