{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}

<main class="ms-2">
    <div class="row">
        
        <h3 class="col-12 mt-5">Список сторінок</h3>
        <div class="col-12">
            Proejct info, coming soon.
        </div>
        <div class="col-12 my-3">
            <a type="button" class="btn btn-primary" href="bio">Bio</a>
        </div>
        <div class="col-12 my-3">
            <a type="button" class="btn btn-primary" href="car">Car</a>
        </div>
        <div class="col-12 my-3">
            <a type="button" class="btn btn-primary" href="education">Education</a>
        </div>
        <div class="col-12 my-3">
            <a type="button" class="btn btn-primary" href="facebook">Facebook</a>
        </div>
        <div class="col-12 my-3">
            <a type="button" class="btn btn-primary" href="js">Js</a>
        </div>
        <div class="col-12 my-3">
            <a type="button" class="btn btn-primary" href="list">List</a>
        </div>
        <div class="col-12 my-3">
            <a type="button" class="btn btn-primary" href="mac">Mac</a>
        </div>
        <div class="col-12 my-3">
            <a type="button" class="btn btn-primary" href="person">Person</a>
        </div>
        <div class="col-12 my-3">
            <a type="button" class="btn btn-primary" href="program">Program</a>
        </div>
        <div class="col-12 my-3">
            <a type="button" class="btn btn-primary" href="shopcart">Shopcart</a>
        </div>
        <div class="col-12 my-3">
            <a type="button" class="btn btn-primary" href="shophome">Shophome</a>
        </div>
        <div class="col-12 my-3">
            <a type="button" class="btn btn-primary" href="shopnews">Shopnews</a>
        </div>
        <div class="col-12 my-3">
            <a type="button" class="btn btn-primary" href="shoporder">Shoporder</a>
        </div>
        <div class="col-12 my-3">
            <a type="button" class="btn btn-primary" href="shopproduct">Shopproduct</a>
        </div>
        <div class="col-12 my-3">
            <a type="button" class="btn btn-primary" href="shopprofile">Shopprofile</a>
        </div>
        <div class="col-12 my-3">
            <a type="button" class="btn btn-primary" href="shopreview">Shopreview(coming soon)</a>
        </div>
        <div class="col-12 my-3">
            <a type="button" class="btn btn-primary" href="shopcatalog">Shopcatalog(coming soon)</a>
        </div>
        <div class="col-12 my-3">
            <a type="button" class="btn btn-primary" href="skills">Skills</a>
        </div>
        <div class="col-12 my-3">
            <a type="button" class="btn btn-primary" href="summary">Summary</a>
        </div>
        <div class="col-12 my-3">
            <a type="button" class="btn btn-primary" href="task21">Task21</a>
        </div>
        <div class="col-12 my-3">
            <a type="button" class="btn btn-primary" href="task22">Task22</a>
        </div>
        <div class="col-12 my-3">
            <a type="button" class="btn btn-primary" href="task31">Task31</a>
        </div>
        <div class="col-12 my-3">
            <a type="button" class="btn btn-primary" href="web">Web</a>
        </div>
        <div class="col-12 my-3">
            <a type="button" class="btn btn-primary" href="work">Work</a>
        </div>
        
    </div>
    
</main>


{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}