<main class="ms-2">
    <ul>
        {{#each list}}
        <li>
            <button {{#if @index}} disabled {{/if}}>{{name}}</button>
        </li>
        {{/each}}

        {{#each user}}
            <li>
                {{this}}
            </li>
        {{/each}}
    </ul>
</main>