<main class="mt-5">
    <div class="row">
        {{#with newsBlock}}
            <div class="col-12">
                <h2 class="text-center mb-5">{{title}}</h2>
            </div>

            <div class="col-3">
                {{> shoppost cardName=cards.[0]}}
            </div>
            <div class="col-3">
                {{> shoppost cardName=cards.[1]}}
            </div>
            <div class="col-3 mb-2">
                {{> shoppost cardName=cards.[2]}}
            </div>
            <div class="col-3">
                {{> shoppost cardName=cards.[3]}}
            </div>
            <div class="col-3">
                {{> shoppost cardName=cards.[4]}}
            </div>
            <div class="col-3">
                {{> shoppost cardName=cards.[5]}}
            </div>
            <div class="col-3">
                {{> shoppost cardName=cards.[6]}}
            </div>
            <div class="col-3">
                {{> shoppost cardName=cards.[7]}}
            </div>
        {{/with}}
    </div>
    
    <hr class="my-5">

    {{#with goodsBlock}}
        {{#with tabs}}
            <div class="nav nav-tabs">
                {{> goods-tab tabName=[0]}}
                {{> goods-tab tabName=[1]}}
                {{> goods-tab tabName=[2]}}
                {{> goods-tab tabName=[3]}}
            </div>
        {{/with}}

        <div class="row">
            {{#with cards}}
            <div class="col-4">
                {{> goods-card cardName=[0]}}
            </div>
            <div class="col-4">
                {{> goods-card cardName=[1]}}
            </div>
            <div class="col-4 mb-5">
                {{> goods-card cardName=[2]}}
            </div>
            <div class="col-4">
                {{> goods-card cardName=[3]}}
            </div>
            <div class="col-4">
                {{> goods-card cardName=[4]}}
            </div>
            <div class="col-4">
                {{> goods-card cardName=[5]}}
            </div>
            {{/with}}
        </div>
    {{/with}}

    <hr class="my-5">
    
    {{#with subscribe}}
        <div class="card text-bg-dark p-3 pb-0">
            <div class="row">
                <h2 class="col-8">{{header}}</h2>

                <div class="col-2 mt-4">
                    {{> basic-button buttonName=buttons.[0]}}
                </div>
                <div class="col-2 mt-4">
                    {{> basic-button buttonName=buttons.[1]}}
                </div>

                <p class="col-12">{{description}}</p>
            </div>
        </div>
    {{/with}}
    