<nav class="aria-label">
    <ol class="breadcrumb my-5">
        {{#each breadcrumb}}
        <li class="breadcrumb-item active" aria-current="page">
            {{#unless @last}}
                <a href="{{url}}">{{name}}</a>
            {{else}}
                <span>{{name}}</span>
            {{/unless}}
        </li>
        {{/each}}
    </ol>
</nav>