<footer>
    <hr class="my-5">
    <div>
        {{#with social}}
        {{> link href=email.value text=email.text blank=true }}
        {{> link href=phone.value text=phone.text blank=true }}
        {{> link href=linkedin.value text=linkedin.text blank=true noLine=true }}
        {{/with}}
    </div>
    <div class="my-3">
        {{#with name}}
        <em>copyright by {{firstname}} {{surname}}</em>
        {{/with}}
    </div>


    <div>
        <address>{{address}}</address>
    </div>
</footer>