{{#with cardName}}
<div class="card">
    <div class="card-header">
        {{name}}
    </div>
    <ul class="list-group">
        {{#each items}}
        <li class="list-group-item">
            {{this}}
        </li>
        {{/each}}
    </ul>
</div>
{{/with}}