<section>
    <h3>{{title}}</h3>

    <br>

    <ul>
        {{#each listName}}
            <li>
                <span class="badge bg-info">{{this}}</span>
            </li>
        {{/each}}
    </ul>
</section>