 {{#with service}}
    <div class="card text-bg-success p-3 pb-0 text-center">
        <div class="row">
            <h2 class="col-12">{{title}}</h2>
            <p class="col-12">{{description}}</p>
            <div class="col-12 mb-3">
                {{> basic-button buttonName=buttons.[0]}}
            </div>
        </div>
    </div>
{{/with}}
