{{#with subscribe}}
    <div class="card text-bg-dark p-3 pb-0">
        <div class="row">
            <h2 class="col-8">{{header}}</h2>

            <div class="col-2 mt-4">
                {{> basic-button buttonName=buttons.[0]}}
            </div>
            <div class="col-2 mt-4">
                {{> basic-button buttonName=buttons.[1]}}
            </div>

            <p class="col-12">{{description}}</p>
        </div>
    </div>
{{/with}}